@import '../abstracts/variables';
@import '../abstracts/mixins';

$purple-hover: lighten($purple-600, 10%);

.button--purple {
  @include button-base;
  background-color: $purple-600;
  color: $white;

  span {
    color: $purple-300;
    margin-left: $space-50;
  }

  &:hover,
  &:focus-visible {
    background-color: $purple-hover;
  }
}
