@import '../abstracts/variables';
@import '../abstracts/mixins';

.number {
  @include flex-center;
  position: relative;
  width: $space-700;
  height: $space-700;
  border: 1px solid $slate-300;
  border-radius: 50%;
  background-color: $white;

  &::before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    height: $space-1000;
    width: 0.1rem;
    background-color: $slate-300;
    transform: translateX(-50%);
  }

  &__value {
    @include text-preset-5;
    color: $slate-600;
  }
}
