@import '../abstracts/variables';

// Mixins

@mixin text-preset-1 {
  font-weight: $font-weight-black;
  font-family: inherit;
  font-size: 6.4rem; // 64px
  line-height: 110%;
  letter-spacing: 0;
  color: $slate-900;
}

@mixin text-preset-2 {
  font-weight: $font-weight-black;
  font-family: inherit;
  font-size: 4rem; // 40px
  line-height: 110%;
  letter-spacing: 0;
}

@mixin text-preset-3 {
  font-weight: $font-weight-black;
  font-family: inherit;
  font-size: 1.6rem; // 16px
  line-height: 110%;
  letter-spacing: 0.4rem;
}

@mixin text-preset-4 {
  font-weight: $font-weight-medium;
  font-family: inherit;
  font-size: 1.8rem; // 18px
  line-height: 110%;
  letter-spacing: 0;
  color: $slate-600;
}

@mixin text-preset-5 {
  font-weight: $font-weight-black;
  font-family: inherit;
  font-size: 1.6rem; // 16px
  line-height: 150%;
  letter-spacing: 0;
}

// FLEXBOX UTILITIES

@mixin flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin space-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// RESPONSIVE BREAKPOINTS

@mixin respond-to($breakpoint) {
  @if $breakpoint == sm {
    @media (max-width: $breakpoint-sm) {
      @content;
    }
  } @else if $breakpoint == md {
    @media (max-width: $breakpoint-md) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media (max-width: $breakpoint-lg) {
      @content;
    }
  } @else if $breakpoint == xl {
    @media (max-width: $breakpoint-xl) {
      @content;
    }
  }
}

// SUB_ZONE CONTAINER
@mixin container {
  width: 100%;
  max-width: 1120px;
  margin-inline: auto;
  padding-inline: $space-200;

  @include respond-to(sm) {
    padding-inline: $space-100;
  }
}
