@import '../abstracts/variables';

// Typography Base Styles

html {
  font-size: 62.5%; // 1rem = 10px
  scroll-behavior: smooth;
}

body {
  font-family: 'Red Hat Display', sans-serif;
  font-size: $font-body;
  font-weight: $font-weight-regular;
  line-height: 1.5;
  color: $color-body;
  background-color: $color-bg;
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: $font-weight-semibold;
  color: $color-heading;
  line-height: 1.1;
  margin: 0;
}

// Paragraphs
p {
  margin-bottom: $space-200;
}

// Emphasis
strong {
  font-weight: $font-weight-semibold;
}

em {
  font-style: italic;
}
