html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  color: #87879d;
  background-color: #fafafa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 500;
  color: #28283d;
  line-height: 1.1;
  margin: 0;
}

p {
  margin-bottom: 1.6rem;
}

strong {
  font-weight: 500;
}

em {
  font-style: italic;
}

/* GLOBAL STYLES */
body {
  background-color: #fafafa;
  color: #87879d;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
  border: 0;
  padding: 0;
  margin: 0;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

/* Button Blue */
.button--blue {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1.6rem 4rem;
  border-radius: 2.9rem;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  font-weight: 900;
  font-family: inherit;
  font-size: 1.6rem;
  line-height: 150%;
  letter-spacing: 0;
  color: #fafafa;
  background-color: #4d96a9;
  color: #fafafa;
}
.button--blue span {
  color: #8fe3f9;
  margin-left: 0.4rem;
}
.button--blue:hover {
  background-color: #8fe3f9;
  color: #28283d;
}
.button--blue:hover span {
  color: inherit;
}

/* Button Blue */
.button--purple {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1.6rem 4rem;
  border-radius: 2.9rem;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  font-weight: 900;
  font-family: inherit;
  font-size: 1.6rem;
  line-height: 150%;
  letter-spacing: 0;
  color: #fafafa;
  background-color: #855fb1;
  color: #fafafa;
}
.button--purple span {
  color: #8fe3f9;
  margin-left: 0.4rem;
}
.button--purple:hover {
  background-color: #8fe3f9;
  color: #28283d;
}
.button--purple:hover span {
  color: inherit;
}

.hero {
  position: relative;
  margin-block: 6.4rem;
}
.hero__layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero__image--center {
  display: none;
}
@media (max-width: 1300px) {
  .hero__image--center {
    display: block;
  }
}
.hero__image--left, .hero__image--right {
  display: block;
}
@media (max-width: 1300px) {
  .hero__image--left, .hero__image--right {
    display: none;
  }
}
@media (min-width: 1300px) {
  .hero__image--left {
    position: relative;
    transform: translateX(-3rem);
  }
}
@media (min-width: 1300px) {
  .hero__image--right {
    position: relative;
    transform: translate(3rem, 3rem);
  }
}
.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 44.83rem;
  gap: 3.2rem;
}
.hero__title {
  font-weight: 900;
  font-family: inherit;
  font-size: 6.4rem;
  line-height: 110%;
  letter-spacing: 0;
  color: #28283d;
}
.hero__subtitle {
  font-weight: 500;
  font-family: inherit;
  font-size: 1.8rem;
  line-height: 110%;
  letter-spacing: 0;
  color: #87879d;
}
.hero__cta-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.7rem;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
}
@media (max-width: 768px) {
  .nav {
    margin-top: 75%;
  }
}
@media (max-width: 600px) {
  .nav {
    margin-top: 50%;
  }
}
.nav img {
  width: auto;
  height: auto;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}/*# sourceMappingURL=main.css.map */