.footer {
  position: relative;
  overflow: visible;
  background-image: url('../../../assets/desktop/image-footer.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 10.8rem;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(77, 150, 169, 0.8); // overlay
    z-index: 0;
  }

  &__inner {
    @include flex-column;
    align-items: center;
    gap: $space-700;
    position: relative;
    z-index: 1;
  }

  .number {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  &__cta {
    @include space-between-center;
    gap: $space-400;
    min-height: 31.2rem;
    text-align: left;
  }

  &__title {
    @include text-preset-2;
    color: $white;
  }

  &__desc {
    @include text-preset-4;
    color: $white;
    max-width: 30ch;
  }
}
