@import '../abstracts/mixins';

// HERO

.hero {
  position: relative;

  &__layout {
    @include space-between-center;
  }

  &__image {
    &--center {
      display: none;

      @include respond-to(lg) {
        display: block;
      }
    }

    &--left,
    &--right {
      display: block;

      @include respond-to(lg) {
        display: none;
      }
    }
  }
}
