@import '../abstracts/variables';
@import '../abstracts/mixins';

.main_content {
  padding-left: $space-1000;
  padding-right: $space-1000;
  padding-top: $space-1400;
  padding-bottom: $space-1400;

  &__inner {
    @include flex-column;
    gap: 6.4rem;
    margin-block: $space-700 $space-900;
  }
}
