@import '../abstracts/variables';
@import '../abstracts/mixins';

.nav {
  @include flex-center;
  padding-top: $space-1000;

  @include respond-to(xl-sm) {
    padding-top: $space-600;
  }

  img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
  }
}
