@import '../abstracts/mixins';
@import '../abstracts/variables';

.nav {
  @include flex-center;
  margin-top: 8rem;

  @include respond-to(md) {
    margin-top: 6rem;
  }

  @include respond-to(sm) {
    margin-top: 4rem;
  }

  img {
    width: auto;
    height: auto;
    max-width: 100%;
    object-fit: contain;
  }
}
