/* GLOBAL STYLES */

body {
  min-height: 100vh;
  overflow-x: hidden;
  background-color: $white;
}

// Utility classes
.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
  border: 0;
  padding: 0;
  margin: 0;
}
